@mixin font-family($font-name, $font-weight, $font-style, $font-url, $font-file) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('#{$font-url}#{$font-file}.eot');
    src: url('#{$font-url}#{$font-file}.eot?#iefix') format('embedded-opentype'), url('#{$font-url}#{$font-file}.woff') format('woff'), url('#{$font-url}#{$font-file}.ttf') format('truetype'), url('#{$font-url}#{$font-file}.svg##{$font-name}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

/* Akkurat font is being used by the Wipro community */
@include font-family('Akkurat light', 300, normal, 'assets/fonts/Akkurat/', 'WiproAkkuratTT-Light');
@include font-family('Akkurat regular', 400, normal, 'assets/fonts/Akkurat/', 'WiproAkkuratTTRegular');
@include font-family('Akkurat mono', 400, normal, 'assets/fonts/Akkurat/', 'AkkuratMonoMono');
@include font-family('Akkurat bold', 700, normal, 'assets/fonts/Akkurat/', 'WiproAkkuratTT-Bold');