<header class="main-header">
  <div class="viewport">
    <a [routerLink]="['/']" class="logo"></a>
    <div class="logged-user">
      <a class="user-thumb-wrap">
        <div class="logger-card">
          <img src="assets/i/logger.jpg" alt="">
          <div class="logger-name">{{db.logger}}</div>
        </div>
      </a>
    </div>
    <div class="header-opts">
      <a class="lnk-notification"></a>
      <a class="lnk-settings"></a>
      <a class="lnk-logout"></a>
    </div>
  </div>
</header>